<%= simple_form_for(@firm) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :cuit %>
    <%= f.input :afip_cond %>
  </div>
    <%= f.button :submit, 'Guardar', class: 'btn-primary' %>
<% end %>
