- if @firms.empty?
  = render 'shared/empty_index'
- else
  .span10
    %table.table.resource-list
      %thead
        %tr
          %th.span4= Firm.human_attribute_name :nombre
          %th.span2= Firm.human_attribute_name :cuit
          %th.span3= t 'view.contacts.contact'
          %th.span2
      %tbody
        - @firms.each do |firm|
          %tr
            %td= firm.nombre
            %td= firm.cuit
            %td
              - if firm.contacts.any?
                = firm.contacts.last.area + ' ' + firm.contacts.last.details
            %td.span2
              = link_to_show firm
              = link_to_edit edit_firm_path(firm) if can? :update, firm
              = link_to_destroy firm if can? :destroy, firm
    = pagination_links(@firms)
  .span2.section-commands
    = link_to_add t('view.firms.add_firm'), new_firm_path if can? :create, Firm
  .clearfix
