<% if @firms.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="container-fluid">
    <h1>Empresas</h1>
    <div class="row">
      <div class="span12">
      <table class="table resource-list">
      <thead>
      <tr>
      <th class="span2">Nombre</th>
      <th class="span2">Cuit</th>
      <th class="span3">Teléfonos</th>
      <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @firms.each do |firm| %>
          <tr>
        <td><%= firm.nombre %></td>
        <td><%= firm.cuit %></td>
        <td>
        <% if firm.contacts.any? %>
          <%= firm.contacts.last.area %>: <%= firm.contacts.last.details %>
      <% end %>
        </td>
        <td>
        <%= link_to_show firm %>
        <%= link_to_edit edit_firm_path(firm) if can? :update, firm %>
        <%= link_to_destroy firm if can? :destroy, firm %>
        </td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
    </div>

    <%= pagination_links(@firms) %>
  </div>
<% end %>

<div class="form-actions">
<%= link_to(
    t('view.firms.new', default: :'label.new'),
    new_firm_path, class: 'btn btn-primary'
  ) if can? :create, Firm %>
</div>
