.container-fluid
  .row
    .span4
      %p
        %strong= Firm.human_attribute_name(:cuit) + ':'
        = @firm.cuit
      %p
        %strong= Firm.human_attribute_name(:afip_cond) + ':'
        = @firm.afip_cond
      %p
        %strong= t 'view.firms.show.contact_mediums'
        - if @firm.contacts.any?
          %table.table.table-striped
            %thead
              %tr
                %th= Contact.human_attribute_name :name
                %th= Contact.human_attribute_name :area
                %th= t 'view.contacts.contact'
                %th
            %tbody
              = render @firm.contacts
      %hr
      %p
        %h4= link_to t('view.contacts.add_contact'), new_firm_contact_path(@firm), class: 'btn btn-primary', remote: true, data: {target: 'modal', modal: true}
    .span8
      %h3= t 'view.firms.show.we_buy'
      = render 'purchase_interests/index'
      = srbuj_link_to_new 'Comprar nuevo producto', new_firm_purchase_interest_path(@firm)
      %hr

      %h3= t 'view.firms.show.we_sell'
      = render 'sale_interests/index'
      = srbuj_link_to_new 'Vender nuevo producto', new_firm_sale_interest_path(@firm)

.form-actions
  = link_to_edit edit_firm_path(@firm) if can? :update, @firm
  = link_to t('label.back'), firms_path, class: 'btn'