.container-fluid
  .row
    .span4
      %p
        %strong= Firm.human_attribute_name(:cuit) + ':'
        = @firm.cuit
      %p
        %strong= Firm.human_attribute_name(:afip_cond) + ':'
        = @firm.afip_cond
      %p
        %strong= t 'view.firms.show.contact_mediums'
        - if @firm.contacts.any?
          %table.table.table-striped
            %thead
              %tr
                %th= Contact.human_attribute_name :name
                %th= Contact.human_attribute_name :area
                %th= t 'view.contacts.contact'
                %th
            %tbody
              = render @firm.contacts
      %hr
      %p
        %h4= link_to t('view.contacts.add_contact'), new_firm_contact_path(@firm), class: 'btn btn-primary', remote: true, data: {target: 'modal', modal: true}
    .span7
      %h3= t 'view.firms.show.we_buy'
      %table.table.table-striped
        %thead
          %th= t 'activerecord.models.product.one'
          %th= ProductHistory.human_attribute_name :purchase_price
          %th= ProductHistory.human_attribute_name :sale_price
          %th= t 'attributes.date'
          %th
        %tbody#product_histories_body
          = render @product_histories

      %hr
      %h3= t 'view.firms.show.we_sell'
      %table.table.table-striped
        %thead
          %th= t 'activerecord.models.product.one'
          %th= SaleHistory.human_attribute_name :price
          %th= t 'attributes.date'
        %tbody#sale_histories_body
          = render @sale_histories
.form-actions
  = link_to_edit edit_firm_path(@firm) if can? :update, @firm
  = link_to t('label.back'), firms_path, class: 'btn'