<div class="readonly-data">
  <h2><%= @firm.nombre %></h2>
  <p>
    <strong><%= Firm.human_attribute_name 'cuit' %></strong>:
    <%= @firm.cuit %>
  </p>
  <p>
    <strong><%= Firm.human_attribute_name 'afip_cond' %></strong>:
    <%= @firm.afip_cond %>
  </p>
  <p>
    <strong><%= Firm.human_attribute_name 'contacts' %></strong>:
    <% @firm.contacts.each do |contact| #usar una tabla%>
        <%= contact.name %>
        <%= contact.area %>
        <%= contact.details %>
    <% end %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_firm_path(@firm) if can? :update, @firm %> |
  <%= link_to t('label.list'), firms_path %>
</div>
