.container-fluid
  .row
    .span4
      %p
        %strong= Firm.human_attribute_name( :cuit ) + ':'
        = @firm.cuit
      %p
        %strong= Firm.human_attribute_name( :afip_cond ) + ':'
        = @firm.afip_cond
      %p
        %strong= t 'view.firms.show.contact_mediums'
        - if @firm.contacts.any?
          %table.table.table-striped
            %thead
              %tr
                %th= Contact.human_attribute_name :name
                %th= Contact.human_attribute_name :area
                %th= t 'view.contacts.contact'
                %th
            %tbody
              - @firm.contacts.each do |contact| #usar una tabla
                %tr
                  %td= contact.name
                  %td= contact.area
                  %td= contact.details
                  %td
                    = link_to_edit ['edit', @firm, contact]
                    = link_to_destroy [@firm, contact]
      %hr
      %p
        %h4= t 'view.contacts.new_title'
        %p
          = form_for [@firm, Contact.new], html: { class: 'form-inline' } do |f|
            = f.text_field :name, placeholder: Contact.human_attribute_name(:name)
            = f.text_field :area, placeholder: Contact.human_attribute_name(:area)
            = f.text_field :details, placeholder: Contact.human_attribute_name(:details)
            = f.submit t('view.contacts.add_contact'), class: 'btn btn-primary btn-small'
    .span7
      %h3= t 'view.firms.show.we_buy'
      %table.table.table-striped
        %thead
          %th= t 'activerecord.models.product'
          %th= ProductHistory.human_attribute_name :purchase_price
          %th= ProductHistory.human_attribute_name :sale_price
          %th= t 'attributes.date'
          %th
        %tbody
          - @product_histories.each do |product_history|
            %tr
              %td= product_history.product.name
              %td= product_history.purchase_price
              %td= product_history.sale_price
              %td= product_history.date.strftime('%d/%m/%y - %H:%M')
              %td
                = link_to 'Ver histórico', product_product_histories_path(product_history.product, firm: product_history.firm), class: 'btn btn-success  btn-mini'
                = link_to 'Actualizar precio', new_product_product_history_path(product_history.product, firm: product_history.firm), class: 'btn btn-primary btn-mini'

      %hr
      %h3= t 'view.firms.show.we_sell'
      %table.table.table-striped
        %thead
          %th= t 'activerecord.models.product'
          %th= SaleHistory.human_attribute_name :price
          %th= t 'attributes.date'
        %tbody
          - @sale_histories.each do |sale_history|
            %tr
              %td= sale_history.product.name
              %td= sale_history.price
              %td= sale_history.date.strftime('%d/%m/%y - %H:%M')
              %td
                = link_to t('view.products.show_historic'), product_sale_histories_path(sale_history.product, firm: sale_history.firm), class: 'btn btn-success  btn-mini'
                = link_to t('view.sale_histories.update_price'), new_product_sale_history_path(sale_history.product, firm: sale_history.firm), class: 'btn btn-primary btn-mini'
.form-actions
  = link_to_edit edit_firm_path(@firm) if can? :update, @firm
  = link_to t('label.back'), firms_path, class: 'btn'