.modal
  = simple_form_for @component, url: product_recipe_component_path(@product, @recipe, @component), html: { remote: true, data: { target: dom_id(@component), modal: true, error: 'modal', callback: 'updateRecipeTotals', replace: true } } do |f|
    .modal-header
      %h3= @title
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = f.submit 'Actualizar componente', class: 'btn btn-primary btn-small'
      = link_to_function t('label.close'), "$('#modal').modal('toggle');", class: 'btn'