%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.models.product.one') if params[:controller] == 'firms'
      %th= t('activerecord.models.firm.one') unless params[:controller] == 'firms'
      %th= t 'attributes.date'
      %th= Interest.human_attribute_name :price
      %th= Interest.human_attribute_name :sale_price
      %th
  %tbody{ id: 'purchase_interests_body' }
    = render partial: 'purchase_interests/purchase_interest', as: :interest, collection: @purchase_interests