= simple_form_for @interest, url: product_interests_path(@product), html: { remote: true, data: { target: "#{params[:type]}_interest_body", modal: true, error: 'modal' }, class: 'form-horizontal' } do |f|
  = f.error_notification

  = f.input :firm_id, collection: Firm.firms_for_select
  = f.input :date, as: :string, input_html: { class: 'datepicker', value: Date.today.strftime('%d/%m/%Y') }
  = render partial: "fields_for_#{params[:type]}", locals: { f: f }
  = hidden_field_tag :type, params[:type]
  = link_to_close_modal
  = f.submit t("view.interests.new.#{params[:type]}_to_this_firm"), class: 'btn btn-primary'

-#cleanModalOnClose
:javascript
  setDatePicker();