.modal
  = simple_form_for @sale_history, url: [@product, @sale_history], html: { remote: true,
      data: { target: dom_id(@sale_history.firm), modal: true, error: 'modal', replace: true },
      class: 'form-horizontal' } do |f|
    .modal-header
      %h3= @title
    .modal-body
      = f.error_notification

      = f.input :date, as: :string, input_html: { class: 'datepicker', value: (@start_date ? @start_date.strftime('%d/%m/%Y') : Date.today.strftime('%d/%m/%Y')) }
      = f.input :price
      = f.input :firm_id, collection: Firm.firms_for_select
    .modal-footer
      = link_to_close_modal
      = f.submit t('view.sale_histories.save_price'), class: 'btn btn-primary'
