.container-fluid
  %table.table.table-bordered.table-striped
    %tr
      %th= t 'label.date'
      %th= t 'activerecord.models.firm.one'
      %th= t 'activerecord.attributes.sale_history.price'
      %th

    - @sale_histories.each do |sale_history|
      %tr
        %td= sale_history.date.strftime('%d/%m/%y - %H:%M')
        %td= sale_history.firm.nombre
        %td= sale_history.price
        %td= link_to_destroy [@product, sale_history], method: :delete, data: { confirm: 'Are you sure?' }
.form-actions
  = link_to t('label.back'), :back, class: 'btn'
  = link_to t('view.sale_histories.add_new_price'), new_product_sale_history_path(@product), class: 'btn btn-primary'
