%p#notice= notice

%p
  %b Date:
  = @sale_history.date
%p
  %b Price:
  = @sale_history.price
%p
  %b Product:
  = @sale_history.product_id
%p
  %b Firm:
  = @sale_history.firm_id

-#= link_to 'Edit', edit_sale_history_path(@sale_history)
-#\|
-#= link_to 'Back', sale_histories_path
