.modal
  = simple_form_for @recipe, url: product_recipes_path(@product), html: { remote: true, data: { error: 'modal' } } do |f|
    .modal-header
      %h3= @title
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = f.submit 'Guardar receta', class: 'btn btn-primary btn-small'
      = link_to_function t('label.close'), "$('#modal').modal('toggle');", class: 'btn'
