.container-fluid
  .row
    .span4
      %p
        %b= ClientOrder.human_attribute_name(:received) + ':'
        = @client_order.received
      %p
        %b= ClientOrder.human_attribute_name(:status) + ':'
        = @client_order.status
      %p
        %b= t 'view.client_orders.show.taken_for'
        = @client_order.user.name
    .span8
      -#= render 'lines/index'
.form-actions
  = link_to_edit edit_client_order_path(@client_order)
  = link_to t('label.back'), client_orders_path, class: 'btn'
