%tr{ id: dom_id(interest) }
  %td= interest.product if params[:controller] == 'firms'
  %td= interest.firm unless params[:controller] == 'firms'
  %td= interest.date.strftime('%d/%m/%y - %H:%M')
  %td= interest.price
  %td
    = srbuj_link_to_destroy firm_sale_interest_path(interest.firm, interest), data: { target: dom_id(interest), confirm: t('view.interests.destroy.tooltip') }
    = render partial: 'prices/price', locals: { interest: interest }