= form_for @monthly_movement do |f|
  - if @monthly_movement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@monthly_movement.errors.count, "error")} prohibited this monthly_movement from being saved:"
      %ul
        - @monthly_movement.errors.full_messages.each do |msg|
          %li= msg

  = MonthlyMovement.human_attribute_name :month
  = f.select :month, MonthlyMovement.months_for_select
  = MonthlyMovement.human_attribute_name :year
  = f.number_field :year, value: @monthly_movement.year || Time.now.year
  = f.select :status, MonthlyMovement::STATUSES
  %br/
  = f.submit t('view.monthly_movements.save_monthly_movement'), class: 'btn btn-primary'
