= form_for @monthly_movement do |f|
  - if @monthly_movement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@monthly_movement.errors.count, "error")} prohibited this monthly_movement from being saved:"
      %ul
        - @monthly_movement.errors.full_messages.each do |msg|
          %li= msg

  Mes:
  = f.select :month, MonthlyMovement.months_for_select
  Año:
  = f.number_field :year, value: @monthly_movement.year || Time.now.year
  = f.select :status, MonthlyMovement::STATUSES
  %br/
  = f.submit 'Guardar', class: 'btn btn-primary'
