.container-fluid
  .align-center
    %h1
      Movimientos de
      = @monthly_movement.month
      de
      = @monthly_movement.year
      = link_to_edit edit_monthly_movement_path(@monthly_movement)
    %p
      %b Usuario:
      = @monthly_movement.user.name
    %p
      %b Estado:
      = @monthly_movement.status
    - if @monthly_movement.started?
      = link_to 'Enviado', set_as_send_monthly_movement_path(@monthly_movement), method: :put, class: 'btn btn-warning'
    - else
      = link_to 'Finalizado', set_as_finalized_monthly_movement_path(@monthly_movement), method: :put, class: 'btn btn-warning'
    .clearfix
  .span5.well
    %h3 Compras:
    %p
      %b Subtotal:
      = @monthly_movement.purchases_subtotal
    %p
      %b Iva total:
      = @monthly_movement.purchases_iva_total
    %p
      %b Otros conc total:
      = @monthly_movement.purchases_otros_conc_total
    %p
      %b Total:
      = @monthly_movement.purchases_total
    .pull-right
      = link_to 'Compras', monthly_movement_purchase_invoices_path(@monthly_movement), class: 'btn btn-primary', title: 'Click para agregar o ver las compras de este mes', rel: 'tooltip'
      = link_to 'Generar Reporte', generate_csv_monthly_movement_purchase_invoices_path(@monthly_movement), class: 'btn btn-success', title: 'Click para generar el reporte de este mes', rel: 'tooltip', method: :post
  .span5.well
    %h3 Ventas
    %p
      %b Subtotal:
      = @monthly_movement.sales_subtotal
    %p
      %b Iva total:
      = @monthly_movement.sales_iva_total
    %p
      %b Otros conc total:
      = @monthly_movement.sales_otros_conc_total
    %p
      %b Total:
      = @monthly_movement.sales_total
    .pull-right
      = link_to 'Ventas', monthly_movement_sale_invoices_path(@monthly_movement), class: 'btn btn-primary', title: 'Click para agregar o ver las ventas de este mes', rel: 'tooltip'
      = link_to 'Generar Reporte', generate_csv_monthly_movement_sale_invoices_path(@monthly_movement), class: 'btn btn-success', title: 'Click para generar el reporte de este mes', rel: 'tooltip', method: :post
  .clearfix
  = link_to 'Volver', monthly_movements_path, class: 'btn btn-warning'
