.row
  .span4
    = f.input :number, input_html: { disabled: true }
    = f.input :firm_id, collection: Firm.firms_for_select, selected: (params[:firm_id] || @order.firm_id)
    = f.input :requester
    = f.input :requester_area
  .span4
    = f.input :received, as: :string, input_html: { class: 'datepicker', value: Date.today.strftime('%d/%m/%Y') }
    = f.input :external_code
    = f.input :details, input_html: { rows: 4, cols: 40 }
  .span4
    = f.input :deliver_in
    = f.input :place
= content_for :form_actions do
  = link_to_close_modal
  = f.submit t('view.orders.save'), class: 'btn btn-primary'
