= form_for [@firm, @contact] do |f|
  = f.text_field :name, placeholder: Contact.human_attribute_name(:name)
  = f.text_field :area, placeholder: Contact.human_attribute_name(:area)
  = f.text_field :details, placeholder: Contact.human_attribute_name(:details)
  = f.submit t('view.contacts.save_contact'), class: 'btn btn-primary btn-small'
