%p
  %b= Contact.human_attribute_name(:name)
  = @contact.name
%p
  %b= Contact.human_attribute_name(:area)
  = @contact.area
%p
  %b= Contact.human_attribute_name(:details)
  = @contact.details

= link_to t('view.contacts.edit_contact'), edit_contact_path(@contact)
