= form_for [@product, @product_history] do |f|
  - if @product_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_history.errors.count, "error")} prohibited this product_history from being saved:"
      %ul
        - @product_history.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label t('attributes.date')
    = f.datetime_select :date
  %p
    = f.label ProductHistory.human_attribute_name :purchase_price
    = f.text_field :purchase_price
  %p
    = f.label ProductHistory.human_attribute_name :sale_price
    = f.text_field :sale_price
  %p
    = f.label t('activerecord.models.firm.one')
    = f.select :firm_id, Firm.all.map{ |x| ["#{x.nombre} - #{x.cuit}", x.id]}
  .actions
    = f.submit t('view.product_histories.save_price'), class: 'btn btn-primary'
