.container-fluid

  %p
    %b= t 'activerecord.models.product.one'
    = @product_history.product.name
  %p
    %b= t 'view.product_histories.show.bought_to'
    = @product_history.firm.nombre
  %p
    %b= t 'view.product_histories.show.the_day'
    = @product_history.date
  %p
    %b= ProductHistory.human_attribute_name :purchase_price
    = @product_history.purchase_price
  %p
    %bb= ProductHistory.human_attribute_name :sale_price
    = @product_history.sale_price
  %p
    %b= t 'view.product_histories.responsible_user'
    = @product_history.user.name

= link_to t('label.back'), @product
