.modal
  = simple_form_for @price, url: prices_path(@interest), html: { remote: true,
      data: { target: dom_id(@interest), modal: true, error: 'modal', replace: true },
      class: 'form-horizontal' } do |f|
    .modal-header
      %h3= @title
    .modal-body
      = f.error_notification

      = f.input :date, as: :string, input_html: { class: 'datepicker', value: Date.today.strftime('%d/%m/%Y') }
      = f.input :purchase_price
      = f.input :sale_price

    .modal-footer
      = link_to_close_modal
      = f.submit t('view.purchase_interests.save_price'), class: 'btn btn-primary'
:javascript
  setDatePicker();