.container-fluid

  %table.table.table-bordered.table-striped
    %tr
      %th.span2= t 'attributes.date'
      %th= t 'activerecord.models.firm.one'
      - if @interest.is_purchase_interest?
        %th= Price.human_attribute_name :purchase_price
      %th= Price.human_attribute_name :sale_price
      %th= t 'view.purchase_interests.responsible_user'

    - @prices.each do |price|
      %tr
        %td= price.date.strftime('%d/%m/%y - %H:%M') if price.date
        %td= price.interest.firm.nombre
        - if @interest.is_purchase_interest?
          %td= price.purchase_price
        %td= price.sale_price
        %td= price.user.name if price.user

.form-actions
  = link_to t('label.back'), :back, class: 'btn'
