.container-fluid
  .well
    = form_for monthly_movement_purchase_invoices_path(@monthly_movement), method: :get do
      = text_field_tag :firm, (params[:firm].present? ? params[:firm] : ''), placeholder: 'Nombre de la empresa'
      = submit_tag 'Filtrar', class: 'btn btn-info pull-right'
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= t 'attributes.date'
        %th= t 'activerecord.attributes.purchase_invoice.number'
        %th= t 'activerecord.models.firm.one'
        %th= t 'activerecord.attributes.firm.cuit'
        %th= t 'activerecord.attributes.purchase_invoice.sales'
        %th= t 'activerecord.attributes.purchase_invoice.use'
        %th= t 'activerecord.attributes.purchase_invoice.iva'
        %th= t 'activerecord.attributes.purchase_invoice.retencion'
        %th= t 'activerecord.attributes.purchase_invoice.other_concepts'
        %th= t 'activerecord.attributes.purchase_invoice.total'
        %th
    %tbody
      - @purchase_invoices.each do |purchase_invoice|
        - @totals[:iva] += purchase_invoice.iva || 0
        - @totals[:retencion] += purchase_invoice.retencion || 0
        - @totals[:other_concepts] += purchase_invoice.other_concepts || 0
        - @totals[:total] += purchase_invoice.total || 0
        %tr
          %td= purchase_invoice.date.strftime('%d/%m/%y')
          %td= purchase_invoice.number
          %td= purchase_invoice.firm.nombre
          %td= purchase_invoice.firm.cuit
          %td
            - if purchase_invoice.destination_type == 'Ventas'
              - @totals[:ventas] += purchase_invoice.subtotal
              = purchase_invoice.subtotal
          %td
            - if purchase_invoice.destination_type == 'Consumo'
              - @totals[:consumo] += purchase_invoice.subtotal
              = purchase_invoice.subtotal
          %td= purchase_invoice.iva
          %td= purchase_invoice.retencion
          %td= purchase_invoice.other_concepts
          %td= purchase_invoice.total
          %td
            = link_to_show [purchase_invoice.monthly_movement, purchase_invoice]
            = link_to_edit ['edit', purchase_invoice.monthly_movement, purchase_invoice]
            = link_to_destroy [purchase_invoice.monthly_movement, purchase_invoice], method: :delete, data: { confirm: t('view.purchase_invoices.index.delete_confirm') }
      - total_check = 0
      - @totals.each_pair do |x, y|
        - total_check += y unless x.to_s == 'total'
      %tr
        %td
        %td
        %td
        %td
          .pull-right= t('activerecord.attributes.purchase_invoice.total') + ':'
        %td= @totals[:ventas]
        %td= @totals[:consumo]
        %td= @totals[:iva]
        %td= @totals[:retencion]
        %td= @totals[:other_concepts]
        %td{class: (total_check == @totals[:total] ? 'green' : 'red')}= @totals[:total]
        %td
%nav.form-actions
  = link_to t('view.purchase_invoices.index.back_to_monthly_movement', month: @monthly_movement.month), @monthly_movement, class: 'btn'
  = link_to(t('view.purchase_invoices.add_purchase_invoice'), new_monthly_movement_purchase_invoice_path, class: 'btn btn-primary') unless @monthly_movement.status == MonthlyMovement::STATUSES[2]
#show_purchase
