.container-fluid
  .row
    .span5
      %p
        %b= t('attributes.date') + ':'
        = @purchase_invoice.date.strftime('%d/%m/%y')
      %p
        %b= t('activerecord.attributes.purchase_invoice.invoice_type') + ':'
        = @purchase_invoice.invoice_type
      %p
        %b= t('activerecord.models.firm.one') + ':'
        = @purchase_invoice.firm.nombre
      %p
        %b= t('activerecord.attributes.firm.cuit') + ':'
        = @purchase_invoice.firm.cuit
      %p
        %b= t('activerecord.attributes.purchase_invoice.number') + ':'
        = @purchase_invoice.number
      %p
        %b= t('activerecord.attributes.purchase_invoice.destination_type') + ':'
        = @purchase_invoice.destination_type
    .span5
      %p
        %b= t('activerecord.attributes.purchase_invoice.iva') + ':'
        = @purchase_invoice.iva
      %p
        %b= t('activerecord.attributes.purchase_invoice.retencion') + ':'
        = @purchase_invoice.retencion
      %p
        %b= t('activerecord.attributes.purchase_invoice.other_concepts') + ':'
        = @purchase_invoice.other_concepts
      %p
        %b= t('activerecord.attributes.purchase_invoice.subtotal') + ':'
        = @purchase_invoice.subtotal
      %p
        %b= t('activerecord.attributes.purchase_invoice.total') + ':'
        = @purchase_invoice.total
%nav.form-actions
  = link_to_edit edit_monthly_movement_purchase_invoice_path(@monthly_movement, @purchase_invoice)
  = link_to t('view.purchase_invoices.index.back_to_monthly_movement', month: @monthly_movement.month), monthly_movement_purchase_invoices_path(@monthly_movement), class: 'btn'
