.container-fluid
  %h1 Ventas de #{@monthly_movement.month} de #{@monthly_movement.year}
  .well
    = form_for monthly_movement_sale_invoices_path(@monthly_movement), method: :get do
      = text_field_tag :firm, (params[:firm].present? ? params[:firm] : ''), placeholder: 'Nombre de la empresa'
      = submit_tag 'Filtrar', class: 'btn btn-info pull-right'
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Fecha
      %th Empresa
      %th Tipo Factura
      %th Numero
      %th Iva
      %th Subtotal
      %th Total
      %th Retencion
      %th Otros Conceptos
      %th
  %tbody
    - @sale_inovices.each do |sale_inovice|
      %tr
        %td= sale_inovice.date
        %td= sale_inovice.firm.nombre
        %td= sale_inovice.invoice_type
        %td= sale_inovice.number
        %td= sale_inovice.iva
        %td= sale_inovice.subtotal
        %td= sale_inovice.total
        %td= sale_inovice.retencion
        %td= sale_inovice.other_concepts
        %td
          = link_to_show [@monthly_movement, sale_inovice]
          = link_to_edit [edit, @monthly_movement, sale_inovice]
          = link_to_destroy [@monthly_movement, sale_inovice], method: :delete, data: { confirm: 'Estás a punto de eliminar una factura, ¿estás seguro que deseas hacer esto?' }


= link_to "Volver a movimientos de #{@monthly_movement.month}", @monthly_movement, class: 'btn'
= link_to 'Nueva factura de compra', new_monthly_movement_sale_inovice_path(@monthly_movement), class: 'btn btn-primary'
