.container-fluid
  %h1 Ventas de #{@monthly_movement.month} de #{@monthly_movement.year}
  .well
    = form_for monthly_movement_sale_invoices_path(@monthly_movement), method: :get do
      = text_field_tag :firm, (params[:firm].present? ? params[:firm] : ''), placeholder: 'Nombre de la empresa'
      = submit_tag 'Filtrar', class: 'btn btn-info pull-right'
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Fecha
        %th Empresa
        %th Tipo Factura
        %th Numero
        %th Iva
        %th Retencion
        %th Otros Conceptos
        %th Subtotal
        %th Total
        %th
    %tbody
      - @sale_invoices.each do |sale_invoice|
        - @totals[:iva] += sale_invoice.iva || 0
        - @totals[:retencion] += sale_invoice.retencion || 0
        - @totals[:other_concepts] += sale_invoice.other_concepts || 0
        - @totals[:subtotal] += sale_invoice.subtotal || 0
        - @totals[:total] += sale_invoice.total || 0
        %tr
          %td= sale_invoice.date.strftime('%d/%m/%y')
          %td= sale_invoice.firm.nombre
          %td= sale_invoice.invoice_type
          %td= sale_invoice.number
          %td= sale_invoice.iva
          %td= sale_invoice.retencion
          %td= sale_invoice.other_concepts
          %td= sale_invoice.subtotal
          %td= sale_invoice.total
          %td
            = link_to_show [@monthly_movement, sale_invoice]
            = link_to_edit ['edit', @monthly_movement, sale_invoice]
            = link_to_destroy [@monthly_movement, sale_invoice], method: :delete, data: { confirm: 'Estás a punto de eliminar una factura, ¿estás seguro que deseas hacer esto?' }
      - total_check = 0
      - @totals.each_pair do |x, y|
        - total_check += y unless x.to_s == 'total'
      %tr
        %td
        %td
        %td
        %td
          .pull-right Total:
        %td= @totals[:iva]
        %td= @totals[:retencion]
        %td= @totals[:other_concepts]
        %td= @totals[:subtotal]
        %td{class: (total_check == @totals[:total] ? 'green' : 'red')}= @totals[:total]
        %td
%nav.form-actions
  = link_to "Volver a movimientos de #{@monthly_movement.month}", @monthly_movement, class: 'btn'
  = link_to('Nueva factura de venta', new_monthly_movement_sale_invoice_path(@monthly_movement), class: 'btn btn-primary') unless @monthly_movement.status == MonthlyMovement::STATUSES[2]
