.container-fluid
  .row
    .span5
      %p
        %b Date:
        = @sale_invoice.date
      %p
        %b Invoice type:
        = @sale_invoice.invoice_type
      %p
        %b Number:
        = @sale_invoice.number
      %p
        %b Firm:
        = @sale_invoice.firm.nombre
      %p
        %b CUIT:
        = @sale_invoice.firm.cuit
    .span5
      %p
        %b Iva:
        = @sale_invoice.iva
      %p
        %b Subtotal:
        = @sale_invoice.subtotal
      %p
        %b Retencion:
        = @sale_invoice.retencion
      %p
        %b Other concepts:
        = @sale_invoice.other_concepts
      %p
        %b Total:
        = @sale_invoice.total
%nav.form-actions
  = link_to_edit [edit, @monthly_movement, @sale_invoice]
  = link_to "Volver a movimientos de #{@monthly_movement.month}", monthly_movement_purchase_invoices_path(@monthly_movement), class: 'btn'
