.container-fluid
  .row
    .span5
      %p
        %b= t 'attributes.date' + ': '
        = @sale_invoice.date.strftime('%d/%m/%y')
      %p
        %b= t 'activerecord.attributes.sale_invoice.invoice_type' + ': '
        = @sale_invoice.invoice_type
      %p
        %b= t 'activerecord.attributes.sale_invoice.number' + ': '
        = @sale_invoice.number
      %p
        %b= t 'activerecord.models.firm.one' + ': '
        = @sale_invoice.firm.nombre
      %p
        %b= t 'activerecord.attributes.firm.cuit' + ': '
        = @sale_invoice.firm.cuit
    .span5
      %p
        %b= t 'activerecord.attributes.sale_invoice.iva' + ': '
        = @sale_invoice.iva
      %p
        %b= t 'activerecord.attributes.sale_invoice.subtotal' + ': '
        = @sale_invoice.subtotal
      %p
        %b= t 'activerecord.attributes.sale_invoice.retencion' + ': '
        = @sale_invoice.retencion
      %p
        %b= t 'activerecord.attributes.sale_invoice.other_concepts' + ': '
        = @sale_invoice.other_concepts
      %p
        %b= t 'activerecord.attributes.sale_invoice.total' + ': '
        = @sale_invoice.total
%nav.form-actions
  = link_to_edit ['edit', @monthly_movement, @sale_invoice]
  = link_to t('view.sale_invoices.index.back_to_sales', month: @monthly_movement.month), monthly_movement_sale_invoices_path(@monthly_movement), class: 'btn'
