.container-fluid
  .row
    .span5
      %p
        %b Fecha:
        = @sale_invoice.date.strftime('%d/%m/%y')
      %p
        %b Tipo:
        = @sale_invoice.invoice_type
      %p
        %b Número:
        = @sale_invoice.number
      %p
        %b Empresa:
        = @sale_invoice.firm.nombre
      %p
        %b CUIT:
        = @sale_invoice.firm.cuit
    .span5
      %p
        %b Iva:
        = @sale_invoice.iva
      %p
        %b Subtotal:
        = @sale_invoice.subtotal
      %p
        %b Retencion:
        = @sale_invoice.retencion
      %p
        %b Otros conceptos:
        = @sale_invoice.other_concepts
      %p
        %b Total:
        = @sale_invoice.total
%nav.form-actions
  = link_to_edit ['edit', @monthly_movement, @sale_invoice]
  = link_to "Volver a ventas de #{@monthly_movement.month}", monthly_movement_sale_invoices_path(@monthly_movement), class: 'btn'
