= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label Product.human_attribute_name(:name)
    = f.text_field :name
  %p
    = f.label Product.human_attribute_name(:description)
    = f.text_area :description
  %p
    = f.label Product.human_attribute_name(:rubro)
    = f.text_field :rubro
  .actions
    = f.submit t('view.products.save'), class: 'btn btn-primary'
