= f.input :name
= f.input :description, input_html: { rows: 4, cols: 40 }
= f.input :type, collection: Product.types_for_select, selected: (params[:type] || @product.type)
= f.input :rubro
= content_for :form_actions do
  = link_to_close_modal
  = f.submit t('view.products.save'), class: 'btn btn-primary'
