.container-fluid
  .well
    = form_tag products_path, method: :get do
      = Product.human_attribute_name :type
      = select_tag :type, options_for_select(Product.types_for_select, params[:type])
      = submit_tag 'Filtrar', class: 'btn btn-info'

    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= Product.human_attribute_name :name
          %th= Product.human_attribute_name :type
          %th= Product.human_attribute_name :description
          %th= Product.human_attribute_name :rubro
          %th.span2
      %tbody#products_body
        = render partial: 'product', collection: @products
.form-actions
  = srbuj_link_to_new t('view.products.new_title'), new_product_path(type: params[:type])
