.container-fluid
  - if @products.any?
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= Product.human_attribute_name :name
          %th= Product.human_attribute_name :description
          %th= Product.human_attribute_name :rubro
          %th.span2
      %tbody
        - @products.each do |product|
          %tr
            %td= product.name
            %td= product.description
            %td= product.rubro
            %td.span2
              = link_to_show product
              = link_to_edit edit_product_path(product)
              = link_to_destroy product, method: :delete, data: { :confirm => '¿Estás seguro que deseas eliminar este producto?' }
  - else
    .alert.alert-info
      =t 'view.products.empty_index.html'
.form-actions
  = link_to t('view.products.new_title'), new_product_path, class: 'btn btn-primary'
